.section {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.centerdiv {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bottomdiv {
  position: static;
}
